.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.done {
  color: var(--color-lime-800);
}

.doing {
  color: var(--color-amber-700);
}

.todo {
  color: var(--color-red-800);
}
