.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.done,
.doing,
.todo {
  margin: 0;
}

.done {
  color: var(--color-done);
}

.doing {
  color: var(--color-doing);
}

.todo {
  color: var(--color-todo);
}
